.activeClass {
  color: rgb(255, 255, 255);
}
.activeClass.active {
  color: rgb(30 41 59);
  background-color: white;
}
.activeClassDark {
  color: rgb(30 41 59);
}
.activeClassDark.active {
  background-color: rgb(30 41 59);
  color: white;
}
